.dart_tool/
.packages
.pub/
build/
pubspec.lock

/ios
/android
.symlinks

.idea/
*.iml
.vscode/

.DS_Store
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/ios/Flutter/flutter_export_environment.sh
